body{
  margin: 0;
  padding-top: 80px;
  padding-left: 100px;
  padding-right: 24px;
  background-color: rgb(250, 250, 250);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.header{
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  background-color: #fff;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);

}

.left-section{
  display: flex;
  align-items: center;
}

.hamburger-menu{
  height: 24px;
  margin-right: 24px;
  margin-left: 24px;
  cursor: pointer;
}
.youtube-logo{
  height: 20px;
  cursor: pointer;
}

.middle-section{
  flex: 1;
  margin-left: 60px;
  margin-right: 35px;
  max-width: 470px;
  display: flex;
  align-items: center;
  vertical-align: top;
}

.search-bar{
  flex: 1;
  height: 36px;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 1px;
  box-shadow: inset 1px 2px 3px rgba(216, 216, 216, 0.5);
  width: 0;
}

.search-bar::placeholder{
  font-size: 15px;
  font-weight: 300;
  color: rgb(145, 145, 145);
}

.search-button{
  height: 40px;
  width: 66px;
  background-color: rgb(248, 248, 248);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(190, 190, 190);
  margin-left: -1px;
  margin-right: 10px;
  cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notification-icon-container{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip,
.voice-search-button .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -37px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notification-icon-container .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -45px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}


.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip{
  opacity: 1;
}

.search-icon{
  height: 25px;
}

.voice-search-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(243, 243, 243);

}

.voice-search-icon{
  height: 24px;
}

.right-section{
  width: 180px;
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon{
  height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
  height: 24px;
}

.notifications-count{
  position: absolute;
  top: -2px;
  right: -5px;
  background-color: rgb(200, 0, 0);
  color: white;
  font-size: 11px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: white;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
  cursor: pointer;
}

.sidebar{
  position: fixed;
  left: 0;
  bottom: 0;
  top: 55px;
  background-color: #fff;
  width: 74px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link{
  background-color: white;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.sidebar-link:hover{
  background-color: rgb(233, 233, 233);
}

.sidebar-link img{
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div{
  font-size: 10px;
}

input{
  font-size: larger;
}

.video-grid{
  display: grid;
  
  column-gap: 16px;
  row-gap: 36px;
}

@media (max-width: 750px) {
  .video-grid {
  grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 751px){
  .video-grid {
  grid-template-columns: 1fr 1fr 1fr;
  }
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-image{
  position: relative;
}

.video-image img{
  width: 100%;
  margin-bottom: 8px;
}

.video-time{
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 16px;
  right: 6px;
}

.profile-image img{
  width: 44px;
  border-radius: 50px;
}

.video-text{
  margin-left: 10px;
}

.video-title{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  line-height: 26px;
}

.channel-name, .video-data{
  margin-bottom: 8px;
  color: rgb(96, 96, 96);
  font-size: 14px;
}